@{
    ViewData["Title"] = "Home Page";
    ViewData["User"] = ViewBag.username;
}

<div class="row">
    <div class="col-md-8">
        <h2>How it works</h2>
        <ul>
            <li>Select a City</li>
            <li>Then you will see the restaurant of the city</li>
            <li>Select a Restaurant</li>
            <li>Then you will see the dishes of the restaurant</li>
            <li>Select one or many dishes</li>
            <li>Then you proceed to checkout and confirm your order</li>
        </ul>
    </div>
</div>
