
@{
    ViewData["Title"] = "UpdateOrderStatus";
 
}

<h2>UpdateOrderStatus test tkt</h2>

<a href="@Url.Action("Index", "DishesOrder")" class="btn btn-success btn-block">Back to list <i class="fa fa-angle-right"></i></a>


