@model ErrorViewModel
@{
    ViewData["Title"] = "loginError";

}

<!--View displaying an error for when a login is false-->

<h2>Oops...</h2>

<h3> @Html.DisplayFor(model => model.message)</h3>
<a href="@Url.Action("Index", "Credentials")"> <button type="button" class="btn btn-info">Login</button></a>

