
@{
    ViewData["Title"] = "ProceedCheckout";
}

<h2>Thanks for your order</h2>

<h3>Total amount to pay to the courrier : @Html.Raw(ViewBag.totalAmount)</h3>

<a href="@Url.Action("Index", "Cities")" class="btn btn-warning"><i class="fa fa-angle-left"></i>Continue Shopping</a>



